// biomodal/wgbs/nextflow.config
// SDSC Expanse cluster configuration for nf-core/methylseq (Bismark WGBS)
// BAP1-KO mouse cerebellum, mm10/GRCm38

params {
    config_profile_description = 'SDSC Expanse cluster profile for nf-core/methylseq WGBS'
    config_profile_contact     = 'Ferguson Lab UCSD (zalibhai@ucsd.edu)'

    max_memory = 200.GB
    max_cpus   = 64
    max_time   = 47.h
}

process {
    executor = 'slurm'
    queue    = 'shared'
    clusterOptions = '--account=csd940'

    resourceLimits = [
        cpus:   64,
        memory: 200.GB,
        time:   47.h
    ]

    maxRetries    = 2
    errorStrategy = { task.exitStatus in ((130..145) + 104 + 175) ? 'retry' : 'finish' }

    withName: 'BISMARK_ALIGN' {
        cpus   = { 16 * task.attempt }
        memory = { 64.GB * task.attempt }
        time   = { 24.h * task.attempt }
    }

    withName: 'BISMARK_DEDUPLICATE' {
        cpus   = { 8 * task.attempt }
        memory = { 32.GB * task.attempt }
        time   = { 12.h * task.attempt }
    }

    withName: 'BISMARK_METHYLATIONEXTRACTOR' {
        cpus   = { 12 * task.attempt }
        memory = { 48.GB * task.attempt }
        time   = { 16.h * task.attempt }
    }

    withName: 'BISMARK_COVERAGE2CYTOSINE' {
        cpus   = { 4 * task.attempt }
        memory = { 32.GB * task.attempt }
        time   = { 8.h * task.attempt }
    }

    withName: 'BISMARK_GENOMEPREPARATION' {
        cpus   = { 8 * task.attempt }
        memory = { 64.GB * task.attempt }
        time   = { 12.h * task.attempt }
    }

    withName: 'TRIMGALORE' {
        cpus   = { 8 * task.attempt }
        memory = { 16.GB * task.attempt }
        time   = { 8.h * task.attempt }
    }

    withName: 'QUALIMAP_BAMQCMAPPED' {
        memory = { 32.GB * task.attempt }
    }
}

executor {
    $slurm {
        queueSize        = 50
        submitRateLimit  = '10 sec'
        pollInterval     = '15 sec'
        queueStatInterval = '5 min'
    }
}

singularity {
    enabled    = true
    autoMounts = true
    runOptions = '--bind /scratch,/expanse,/tmp:/tmp'
    pullTimeout = '1 h'
}
